# 12/10/2021

In [ ]:
nombre = 'jose' # Tipo de dat String (cadena de caracteres)
print( nombre)

jose

# Tipos de datos en Python
###Tipos simples
- spr --> Sting cadena de caracteres
- int --> Numeros enteros
-float --> Numeros de notacon de punto flotante
-complex --> Numeros complejos
- bool --> Boleano (True or False)
- byte --> 8 bits
### Tipos Estructurados (Compuestos)
- list --> Listas (Arreglos en otros leng)
- dict --> Diccionarios
- set y frozenset --> conjuntos
- tuple --> Listas no mutables

In [ ]:
#operador modulo
numero = 21 
print (numero /2)
print (numero //2)
#el operador modulo da como resultado el residuo de una dicision entera
print( numero % 2)
#el operador modulo es el signo de porciento "%"

numero = 24
print("Residuo de 24 / 5 es igual a", numero % 5)

#operadores relacionales (logicos)

#para saber si un numero es par
print("24 es par ", numero % 2 == 0)

#diferencias

print("24 es diferente a 23 ", numero != 23)
print("24 es mayor que 23", numero > 24)
print("24 es menor a 23", numero <23 )

print("24 es mayor o igual a 24", numero <= 24 )
print("24 es menor o igual a 23", numero <= 23 )

print("El tipo de dato de la var numero es: ", type(numero))
print("El tipo de dato de la var numero/2.0 es: ", type(numero/2.0))

10.5
10
1
Residuo de 24 / 5 es igual a 4
24 es par  True
24 es diferente a 23  True
24 es mayor que 23 False
24 es menor a 23 False
24 es mayor o igual a 24 True
24 es menor o igual a 23 False
El tipo de dato de la var numero es:  <class 'int'>
El tipo de dato de la var numero/2.0 es:  <class 'float'>

# Tipo de deato String (str) en Pyton

- Temaneja como un arreglo (tipo de dato de concepto)
- Sepuede acceder a los elementos de el string por medio del indice del caracter.
- Mutable
- Tiene metodos utiles(potentes)
- Slicing

In [ ]:
nombre = 'Jose'
carrera = "ingenieria en computacion"
frase = """ El conocimiento
me persigue,...
pero
yo soy mas rapido
"""
print(nombre)
print(carrera)
print(frase)

#La funcion type de python te devuelve el tipo de dato de una variable
print( type(nombre))

## Una clase (Class) es un tipo de dato compuesto

In [ ]:
carrera = "ingenieria en computacion"
print(carrera)
print (carrera[2])

# A la sintacis escrita para elegir un elemento de un grupo de datos se le llama selector.
En el caso de Strings y listas (lst) se usan los caracteres []

1. En todos los lenguajes los arreglos inician en .
2. En python no existe como tal el tipo de dato arreglo, el concepto es sustituido por las listas.
3. Los strings se comportan como un arreglo en la maoria de los lenguajes.
4. En python se acepta el indexado negativo,
en otros lenguajes no

In [ ]:
carrera = "Ingenieria en computacion"
print(carrera)
print (carrera[8])
print (carrera [24])
print(carrera [-21])
print(carrera [-25])


#adelantndo el tema del ciclo FOR

for letra in carrera:
  print("-->", letra ,"<---")

# Slicing (rebanado ) de cadenas
Permite el seleccionar subcadenas con el operador 
### [ inicio : stop : incremento ]
el stop no se incluye, es por eso que debemos agregar una poscicion extra
### Slicing y valores por defecto
inicio por defecto siempre sera 0

stop: tamano del arreglo (indexado positivo)
0 (en un indexado positivo)

Incremento: es 1 (indexado positivo)

In [ ]:
carrera = "Ingenieria en computacion"
print(carrera[0:10:1])
print(carrera[14:25:1])
print(carrera[-11:-1:1])
print(carrera[:10:])
print(carrera[14:25:])
print(carrera[-11::])

#14/10/2021

#String y sus metodos
# Todos tipos de datos en python son 
## dir() y help() funciones para obtener ayuda del lenguaje 
- Dir muestra las funciones de un tipo de datos como resumen.
- help mustra la misma ayuda pero a detalle 

Metodos que inician son __ son privados de uso interno de deberiamos usarlos.
Todos los demas son para uso exterior (usuarios)

In [ ]:
frutas = " limon , fresa , manzana , aguacate "
nombre = "jose"
print (frutas)

print(nombre.capitalize() )
print(nombre.upper() )
print(frutas.replace('a' , '4').replace('e','3'))
frutas = frutas.replace('a' , '4').replace('e','3')
print (frutas)
print (".-.-.-.-.-.-.-.-.-.--.-.-.-.-.-.-.-")
frutas = "limon , fresa , manzana , aguacate " 
print (frutas.strip()) #elimina el espacio basura
print ( )
print (frutas.split(',')) #separa por espacios o dependiendo a lo que tu quieras
#separar
print(frutas.index('mon'))

#21/10/2021

#String y caracteres de escape
- \" --> "
- \' --> ' 
- \n --> Salto en linea (como la tecla enter) 
- \t --> Tabulador espacios a la izquierda
- \uxxxx --> Caracteres unicode
- \Uxxxxxxxx --> unicode extendido

In [ ]:
print ("\"Jose\"") 
nombre = "\"jose\""
print (nombre)
carrera = ('Ingenieria \n\ten \n\tcomputacion')
print (carrera)
print("\u0065")
print("\u0444")
print("\u0620")
print("\U00010057")
print("\U0001F604")
print("¯ \ _ (ツ) _ / ¯")

#Funcion Ptint
## Se emplea para desplegar informacion en la salida estandar, normalmente es el monitor
### formas de usar Print
- el argumento por defecto  de print (end)
- format()
- operador F" "

In [ ]:
nombre = "Jose"
edad =18
casado = False
estatura= 1.67
"""
Nombre: Jose
Edad: 18
Esta casado: False
Estatura en metros: 1.67
"""
# 1.- Con comas: concatena haciendo un casting con string y agreag un espacio
print(nombre,edad,casado,estatura)
print("Nombre" + nombre + "\n\tEdad: "+ str(edad) + "\n\tEsta casado: "+ str(casado) + "\n\tEstatura en Metros" +str(estatura))

#2.- con el simbolo de "+"
# Concanenacion en crudo
print(nombre +" " + str(edad)+ " " + str(casado)+ " " + str(estatura) )

#3.- Dando formato a la salida con format
print("\n Con la funcion format()")
print("\tNombre: {} \n\tEdad: {}\n\tEsta casado: {}\n\tEstatura en metros:{}".format(nombre,edad,casado,estatura))

#4.- Con el operador f ""
print("\nCon el operador f\"\"")
print(f"\tNombre: {nombre} \n\tEdad: {edad}\n\tEsta casado: {casado}\n\tEstatura en metros:{estatura}".format(nombre,edad,casado,estatura))


#Como manejar el argumento end
print("\nComo usar el argumento end=")
print(f"Hola {nombre} ", end="")
print(", Como estas?", end="\n")

Jose 18 False 1.67
NombreJose
	Edad: 18
	Esta casado: False
	Estatura en Metros1.67
Jose 18 False 1.67

 Con la funcion format()
	Nombre: Jose
	Edad: 18
	Esta casado: False
	Estatura en metros:1.67

Con el operador f""
	Nombre: Jose
	Edad: 18
	Esta casado: False
	Estatura en metros:1.67

Como usar el argumento end=
Hola Jose , Como estas?


Para solicitar los datos del usuario se emplea la funcion input, la cual rgresa siempre un tipop de dato string.

In [ ]:
nombre= input ("ingresa tu nombre: ")
print ("Tecleaste ", nombre)

ingresa tu nombreAlexys
Tecleaste Alexys

#04/11/2021

# Como capturar datos numericos?

Para ello se hace una conversion entre tipos...
casting... consiste en llamar el constructor de la clase deseada
## Ejemplo convertir el string "2" en numero 
num = int("2")

In [ ]:
entrada = input ("Dame tu edad: ")
edad = int (entrada)
edad += 1  #edad = edad+1
print("Tu edad es: ", edad)

In [ ]:
# lo mismo pero on menos codigo

edad = int (input("dame tu edad"))
print ("Tu edad es: ", edad)

In [ ]:
estatura = float (input ("dame tu estatura: "))
print ("Tu estatura es :", estatura)

In [ ]:
# inputs de booleans

casado = bool (int(input("soltero (0) casado (1) ")))
print ("casado=", casado)

#Listas
- tipo de datos que grupas variables o valores.
= Estructua secuencial
- Se declara de dos formas #
      - usando [ ]
      - usando list ()
-Puede contener tipos de daatos diversos (En otros lenguajes de orogramacion eso no es posible de forma directa)
- Los elementos internos se colocan con []
- Soporta slicing
- SON MUTABLES
- Al ser una clase, contiene muchos metodos utiles

In [ ]:
numeros = [10, 5, 2, 3, 1]
print (numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print (numeros2)
numeros[2] = 20
print (numeros)
numeros[-1] = 33
numeros.append(88)
print (numeros)

In [ ]:
 # tipos de datos diversos

 cosas =[12, 2, True, "Jose", 1.57, ["pera","kiwi", "uva"] ]
 print (cosas)
 print (cosas[1])
 print (cosas[4])
 print (cosas[5])
 print (cosas[5][1])
 print (cosas[3][1:3:])
 cosas[3]= cosas [3].upper()
 print(cosas)

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print (numeros)
#slicing
# 1: del 4 al 8
print (numeros[3:8])
# 2: el 9 y 10
print (numeros[-3:-1])
# impreimir en orden inverso
print(numeros[::-1])

In [ ]:
#crear una lista con un generador
numeros = [x for x in range(101)]
print (numeros)

[0.0, 0.005494505494505495, 0.01098901098901099, 0.016483516483516484, 0.02197802197802198, 0.027472527472527472, 0.03296703296703297, 0.038461538461538464, 0.04395604395604396, 0.04945054945054945, 0.054945054945054944, 0.06043956043956044, 0.06593406593406594, 0.07142857142857142, 0.07692307692307693, 0.08241758241758242, 0.08791208791208792, 0.09340659340659341, 0.0989010989010989, 0.1043956043956044, 0.10989010989010989, 0.11538461538461539, 0.12087912087912088, 0.12637362637362637, 0.13186813186813187, 0.13736263736263737, 0.14285714285714285, 0.14835164835164835, 0.15384615384615385, 0.15934065934065933, 0.16483516483516483, 0.17032967032967034, 0.17582417582417584, 0.1813186813186813, 0.18681318681318682, 0.19230769230769232, 0.1978021978021978, 0.2032967032967033, 0.2087912087912088, 0.21428571428571427, 0.21978021978021978, 0.22527472527472528, 0.23076923076923078, 0.23626373626373626, 0.24175824175824176, 0.24725274725274726, 0.25274725274725274, 0.25824175824175827, 0.26373626373626374, 0.2692307692307692, 0.27472527472527475, 0.2802197802197802, 0.2857142857142857, 0.29120879120879123, 0.2967032967032967, 0.3021978021978022, 0.3076923076923077, 0.3131868131868132, 0.31868131868131866, 0.3241758241758242, 0.32967032967032966, 0.33516483516483514, 0.34065934065934067, 0.34615384615384615, 0.3516483516483517, 0.35714285714285715, 0.3626373626373626, 0.36813186813186816, 0.37362637362637363, 0.3791208791208791, 0.38461538461538464, 0.3901098901098901, 0.3956043956043956, 0.4010989010989011, 0.4065934065934066, 0.41208791208791207, 0.4175824175824176, 0.4230769230769231, 0.42857142857142855, 0.4340659340659341, 0.43956043956043955, 0.44505494505494503, 0.45054945054945056, 0.45604395604395603, 0.46153846153846156, 0.46703296703296704, 0.4725274725274725, 0.47802197802197804, 0.4835164835164835, 0.489010989010989, 0.4945054945054945, 0.5, 0.5054945054945055, 0.510989010989011, 0.5164835164835165, 0.521978021978022, 0.5274725274725275, 0.532967032967033, 0.5384615384615384, 0.5439560439560439, 0.5494505494505495]

# Funcion range()

Tiene los mismos componentes que slicing

ini, stop, incremento

range (1, 101, 1)

In [ ]:
# Del 50 al 100
numeros = [x for x in range(50, 1001, 100)]
print (numeros)

[50, 150, 250, 350, 450, 550, 650, 750, 850, 950]

# Metodos disponibles de las listas

In [ ]:
dir (list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [2,4,15,8,22,34,50]
print (numeros)
numeros.append(99)
print (numeros)
#numeros.clear()
print (numeros)
# alternativa para clear
#numero = []
print (numeros)


frutas = ["uvas", "kiwi", "manzana"]
copia = frutas
print (frutas)
print (copia)
frutas.append("naranjas")
print (frutas)
print (copia)

colores = ["rojo","azul", "blanco"]
copia2 = colores.copy()
print (colores)
print (copia2)
colores.append("verde")
print (colores)
print (copia2)

#count
print("numeros de veces que aparece el numero 15: ", numeros.count(15))

#extend
nombres = ["Jose", "Pedro", "Karina"]
otrosnombres = ["Josue", "Diana", "Dalia"]

print (nombres)
print (otrosnombres)
nombres = nombres + otrosnombres
print (nombres)
print (otrosnombres)

#lo mismo pero con extend
otrosnombres.extend(["Jesus", "Maria", "Jose"])
print (otrosnombres)

#index
print ("Jesus esta en la posicion: ", otrosnombres.index("Jesus")) # cuenta las posiciones

#insert
otrosnombres.insert(4, "Espiritu santo") #inserta algo y lo demas lo recorre a la derecha
print (otrosnombres)

#pop
resultado = otrosnombres.pop() # almacena el ultimo resultado en resultado
print(otrosnombres)
print(resultado)

#09/11/2021

#Tuplas

###Caracteristicas de las tuplas:

- Datos agrupados
- Se declara usando#
    - ()
    - tuple()
- Estructura secuencial, indexada a partir de 0
- Pueden tener de 0 a n elementos 
- NO SON MUTABLES (No se pueden elimina y/o cambiar)
- Son buenas para almacenar informacion de consulta
- Pueden estar anidadas
- Tienen metodos utiles

In [ ]:
info = ("juan23" , "dios1234", "123.232.1.12")
print (info)
print (info [1]) #acceder al elemento deseado, recuerda que inicia en el 0


numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print (numeros)
print (numeros[5:11]) # slicing

cosas = (info, numeros)
print(cosas)
print (cosas[1][5:11]) # imprimir la primera seccion con slicing
print (cosas [0][2][4:7])

## Metodos de las tuplas

Son los mismos que las listas pero los que no involucren mutabilidad

In [12]:
dir (tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

#Diccionnarios
### Caracteristicas de los diccionarios
- Agrupan datos pero de forma no lineal.
- Se declaran con:
    - dict ()
    - {}
- Formado por pares del tipo llave:valos, donde:
    - llave es de tipo string (siempre)
    - valor puede ser de cualquier tipo de datos, incluyendo los diccionarios.
- Se seleccionan con la llave de forma : ["id_llave"]
- Son mutables
- Son equivalentes al tipo de datos JSON del lenguaje JavaScript (JS)

In [ ]:
alumno = {"nombre" : "Jose"}
print (alumno)
print (alumno ["nombre"])
alumno = {"nombre" : "Jose" , "nc" : "319227442" , "edad" : 18}
print(alumno)
print ("La edad del alumno es:", alumno ["edad"])
print (alumno ["nombre"].upper()) #nombre en mayusculas: upper()

alumno2 = dict() # internamente es una {} vacia
alumno2 ["nombre"] = "jose"
print(alumno2)
alumno2 ["nc"] = "319227442"
alumno2 ["edad"] = "18"
print(alumno2)
alumno2["edad"] = alumno2["edad"]
print(alumno2)

In [48]:
cliente = {"id": "CT2121" , 
            "nombre" : "Jose Pedroza Rosales" ,
             "telefono": "casa=5524675804 cel=248485612" }

print(cliente)
cliente = { "id": "CT2121",
            "nombre" : {
                "nombres" : ["Jose", "Eduardo"],
                "paterno" : "Pedrosa",
                "materno" : "Rosales",
            },
           "Telefonos" : {
               "casa" : "55-6632-4234",
               "trabajo" : "26-35-64-89",
               "celular" : "044-55-23456"
           },
           "productos" : {
               "ahorro": {"numero_cuenta": "7788", "ahorro": 2500.5},
               "tarjetas":[
                            {"tipo":"debito", "saldo" : 10000.5},
                            {"tipo":"credito preferente", "limite" : 250000.5},
                            {"tipo":"lite", "limite" : 15000.5}
               ]
           },
           "direccion": {
               "calle": "Av.central",
               "numero": 1245,
               "colonia" : "Impulsora",
               "delegacion" : "neza",
               "estado" : {
                            "clave" : 15,
                           "nombre_corto" : "Edomex",
                           "nombre": "Estado de Mexico"
               }
           }
           }
print(cliente["Telefonos"]["casa"])
print(cliente)
print(cliente["productos"]["tarjetas"][2]["limite"])

{'id': 'CT2121', 'nombre': 'Jose Pedroza Rosales', 'telefono': 'casa=5524675804 cel=248485612'}
55-6632-4234
{'id': 'CT2121', 'nombre': {'nombres': ['Jose', 'Eduardo'], 'paterno': 'Pedrosa', 'materno': 'Rosales'}, 'Telefonos': {'casa': '55-6632-4234', 'trabajo': '26-35-64-89', 'celular': '044-55-23456'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av.central', 'numero': 1245, 'colonia': 'Impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'Edomex', 'nombre': 'Estado de Mexico'}}}
15000.5